{%extends 'base.html'%}



{%block con%}

<h3>CREATED BY SANGHYEON PARK</h3>

<div class="container">
    <div class="row my-5">
        <div class="col-6">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 1000px;height: 500px;">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://ldb-phinf.pstatic.net/20220214_140/1644834213713rCD5U_JPEG/20220211_183842.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMDdfMTk0%2FMDAxNjQ2NjUzNzI4NDY4.zYmXu5JUqAs99JFMsm2gYd8Rlg2gkoMVOieCQtm5aDcg.23NnsqTv1CiXvQ4Meuvw6Ql1ZA2gy5G4YKw1haqW_rAg.JPEG.0ilk0%2F20220306%25A3%25DF134219.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://ldb-phinf.pstatic.net/20220214_76/1644834296131yrY4U_JPEG/20220211_173433.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>



{%endblock%}